.modal {
  animation: modalSlide 0.5s ease-out forwards;
}
.modal-content-bg {
  background-color: $indigo-900;
}
.modal-header {
  border-bottom: none;
}
.modal-body {
  padding: 0px;
}
@keyframes modalSlide {
  from {
    transform: translateX(-50%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
