.h-movie-detail {
  font-size: 10px;
  display: block;
}
@include media-breakpoint-up(sm) {
  .h-movie-detail {
    font-size: 10px;
  }
}
@include media-breakpoint-up(md) {
  .h-movie-detail {
    font-size: 15px;
  }
}
@include media-breakpoint-up(lg) {
  .h-movie-detail {
    font-size: 20px;
  }
}
